from snakemake.utils import min_version
min_version("6.0")


configfile: "config/config.yaml"


# Separate module for each dataset
{% for dataset_name, dataset_dict in all_dataset_dict.items() %}
module {{ dataset_name }}:
    snakefile:
        github("gibsramen/qadabra", path="workflow/Snakefile", tag="v0.2.0")
    config:
        config["{{ dataset_name }}"]
    prefix: "{{ dataset_name }}"

use rule * from {{ dataset_name }} as {{ dataset_name }}_*
{% endfor %}
